
<div class="accordions">
    <div class="row">
        <!-- accordion style 1 -->
        <div class="col-lg-12 mb-4">
            <div class="card card_border">
                <div class="card-header chart-grid__header">
                   Yardım Menüsü
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingOne">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">Çağrı Problemleri </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Çağrılarda bir problem yasarsanız web sitemizin üst kısmında yazan telefon numarası
                                    üzerinden bize ulaşabilirsiniz.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingTwo">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">Mesaj ve bildirimler</a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Size gönderilmiş olan mesajları ve bildirimleri görmek ve yönetmek için sağ üst köşede bulunan simgeleri kullanabilirsiniz.
                                    Bu simgelerle admin ve firmalarla mesajlaşabilir dilerseniz iletişime geçebilirsiniz.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingThree">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    Yeni Çağrı İşlemi
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Web sayfamızın panel kısmına gidip çağrılar sekmesinin
                                    hemen altında bulunan yeni çağrı alanına tıklayıp. sisteminizde yasadıgınız
                                    sorunları bize mesaj olarak iletmeniz halinde en kısa süre içinde size dönüş 
                                    sağlayacağız teknik çağrı ekibimiz sabah saat 08.00 -22.00 arası hizmet vermektedir.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //accordion style 1 -->
    </div>
</div>